---
layout: default
---

<div class="posts">
    {% assign postsLimit = 5 %}
    {% for post in site.posts limit: postsLimit %}
    <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
            {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
    {% if site.posts.size > postsLimit %}
    <p>Want more posts? There's {{ site.posts.size | minus: postsLimit }} more in the <a href="{{ site.baseurl }}/archive">archive</a>.</p>
    {% endif %}
</div>