
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$strongerBlue: #1b55d2;
$green: #228222;
$purple: #800080;
$orange: #da6200;
$brown: #8b4513;
$red: #d21221;


// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$midLightGray: #ccc;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin noprint {
  display: none;
}

@mixin boxshadow($hShadow, $vShadow, $color) {
  -moz-box-shadow: $hShadow $vShadow $color;
  -webkit-box-shadow: $hShadow $vShadow $color;
  box-shadow: $hShadow $vShadow $color;
}